<div class="container container-fluid">
  <table class="table users-list-table">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td><a class="page-link" href="#" (click)="onDelete(user.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <nav >
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" (click)="onPagination(1)">1</a></li>
      <li class="page-item"><a class="page-link" href="#" (click)="onPagination(2)">2</a></li>
      <li class="page-item"><a class="page-link" href="#" (click)="onPagination(3)">3</a></li>
      <li class="page-item"><a class="page-link" href="#" (click)="onPagination(3)">4</a></li>
    </ul>
  </nav>
</div>
