<div class="container container-fluid">
  <h2>Create New User</h2>
  <form (submit)="onSubmit()" >
    <div [ngClass]="{'d-none': !error.display,'alert alert-danger':true}">{{ error.message }}</div>
    <div [ngClass]="{'d-none': !submitted,'alert alert-success':true}">{{ submittedMessage }}</div>
    <div class="form-group">
      <label for="name">First name</label>
      <input type="text" class="form-control" [(ngModel)]="model.first_name" name="first_name"
      placeholder="Enter first name here" />
    </div>
    <div class="form-group">
      <label for="name">Last name</label>
      <input type="text" class="form-control" [(ngModel)]="model.last_name" name="last_name" placeholder="Enter last name here" />
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" [(ngModel)]="model.email" name="email" placeholder="Enter email here" />
    </div>
    <div class="form-group">
      <input (click)="onSubmit()" type="button" value="submit" class="form-control" id="submit" class="btn-primary" />
    </div>
  </form>
</div>
